<div class="card border-secondary mb-3" *ngFor="let job of jobs">
  <div class="card-header">
      <a href="#" [routerLink]="['/jobs', job.id]">{{job.title}}</a>
  </div>
  <div class="card-body text-secondary">
    <h3 class="card-title">      
    </h3>
    <div>{{job.company}} - {{job.city}} - {{job.zipcode}}</div>
  </div>
  <div class="card-body">
    {{job.description}}
  </div>
  <div class="card-footer bg-warning clear">
    parue il y a {{job.publishdate | daysAgo}}
  </div>    
</div>

